<div class="event-panels">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <div class="event-title"><%= issue.issue_name.titleize%></div>
        <%if issue.user.present?%>
          <div class="organiser">
            <%= issue.user.name%>
          </div>
        <%end%>
        <div class="participants"><a href="#">Comments</a> <span class="status">
        <%if issue.status=="open"%>
        <span class="status_open "><%= issue.status%></span>
        <%else%>
        <span class="status_close"><%= issue.status%></span>
        <%end%>
        </div>
    </div>
  </div>
</div>
