<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @comment.issue.user.name %>!</h1>
    <p>You got a comment</p>
    <p>For the issue</p><p><%= @comment.issue.issue_name%></p>
    <p><%= @comment.comment_description %></p>
  </body>
</html>
