<div class="container container-margin">
  <div class="row margin-bottom">

    <%= button_to "Create", new_issue_path ,:method=> :get, remote: true, :class=>"btn btn-warning btn-md pull-right", 'data-toggle' => 'modal', 'data-target'=>'#myCreate'%>

  <div class="row"></div>
</div>
