 <%
 if request.xhr?
  flash_message = flash.now[:success] || flash.now[:notice] || flash.now[:alert] || flash.now[:error]
  style_classes = ""
 else
  style_classes = ""
  flash_message = flash[:success] || flash[:notice] || flash[:alert] || flash[:error]
 end
 cls_name = "alert-info"
 cls_name = 'alert-success' if flash.now[:success] || flash[:success]
 cls_name = 'alert-warning' if flash.now[:alert] || flash[:alert]
 cls_name = 'alert-danger' if flash.now[:error] || flash[:error]

 flash_message = flash_message.strip if flash_message

 %>

 <% unless flash_message.blank? %>
 <div id = "flash">
  <div class="<%= style_classes %> alert <%= cls_name %> fade in mb-10" data-alert="alert">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <p><%= flash_message %></p>
  </div>
 </div>
 <% end %>