<nav class="navbar navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Event Handler</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= button_to "Sign up", new_user_path ,:method=> :get, remote: true, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%>
        </li>
        <li>
        <!-- Log in Button trigger modal -->
          <button type="button" class="btn btn-success signup-login-btn" data-toggle="modal" data-target="#logIn">Log in</button>
          <%= render :partial=>"layouts/common/login"%>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
  <div class="container landing-content-area">
    <h1 class="landing-heding">BUG TRACKER </h1>
    <h5> PROJECT BY PRAKRUTHI </h5>
  </div>


