/*Landing page*/
.signup-login-btn {
    margin: 10px;
}
.ok-btn-padding {
    padding: 6px 24px;
}
.landing-content-area {
  background-color: #333333;padding: 100px;border-radius: 10px;margin-top: 100px;
    color: #ffffff;text-align: center;text-transform: uppercase;
}

/*Landing Page*/
.profile-pic {
    width: 40px;height: 40px;margin-top: 7px;
}
ul li span.profile-name {
    color: #fff;padding-right: 15px;font-size: 18px;vertical-align: bottom;
}
.event-panels {
    border: 1px solid #959595;
    background-color: #F5F5F5;padding: 15px;margin-bottom: 15px;
}
.event-panels:hover, .event-panels.active {
    background-color: #bdbdbd;
}
.event-panels .order-number {
  font-size: 24px;text-align: center; line-height: 72px;vertical-align: middle;
}
.event-panels .event-title {
    text-transform: capitalize;font-size: 16px;
}
.event-panels .organiser {
    margin-top: 5px;
}
.event-panels .participants {
    margin-top: 5px;
}
.event-panels .participants .status {
    float: right;
}
.events-details {
    background-color: #f5f5f5;padding: 20px 40px; border: 1px solid #959595;
}


/*Comment section*/
.comment-area {
      background-color: #f5f5f5;padding: 20px; border: 1px solid #959595;margin-top: 50px;
}
.comments-buttons {
    padding: 15px;text-align: right;
}
.user-margin{
  margin-top: 20px;
}

.comment_space{
  margin-top: 20px;
}

.commenmt-area-height{
  height: 250px;
   overflow-y:scroll;
}