<!DOCTYPE html>
<html>
<head>
	<title>BugTracker</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="landing-page-bg">
	<div id="popup_modal" class="modal fade"></div>
	<%= yield %>

</body>
</html>
